[user]
	name = GATOUILLAT Pierre Damien (PRESTA EXT)
	email = pierredamien.gatouillat@externe.e-i.com
[http]
	sslCAInfo = /etc/pki/tls/certs/cmcic_ca_bundle.crt
	#proxy = http://145.226.35.45:8080
[core]
	askpass = /bin/true
[alias]
	lo = log --graph --decorate --pretty=oneline --abbrev-commit --all
	co = checkout
	ci = commit
	lg = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	#lg = !"git lg1"
	lg3 = log --graph --abbrev-commit --decorate --date=relative --all
	lg4 = log --graph --oneline --decorate --all
	lg5 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
[pull]
        rebase = true 
[color]
	ui = auto

[commit]
	verbose = 1
